Package: com.sassoty.ftfacewindowopacity
Name: FTFaceWindowOpacity
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Modify facetime face view opacity
Maintainer: Sassoty <sassoty@gmail.com>
Author: Sassoty <sassoty@gmail.com>
Section: Tweaks
Depiction: http://repo.sassoty.com/deps.php?pkg=com.sassoty.ftfacewindowopacity
